nav{
    background-color: #847577;
}

#iconA{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

#iconA:active{
    color: white;
}

#search{
    background-color: #847577;
    color: white;
    border: none;
    padding: 5px;
}

#search:focus {
    outline: none !important;
    border:2px solid black;
}

#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#signup{
    margin-left: 10px;
}